; May be useful for creating full-stack projects
; https://github.com/oakes/full-stack-clj-example

{:deps    {org.clojure/clojure       {:mvn/version "1.12.0"}
           http-kit/http-kit      {:mvn/version "2.9.0-alpha1"}
           com.datomic/local         {:mvn/version "1.0.285"}
           com.datomic/client-cloud  {:mvn/version "1.0.130"}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.54"}
                               cljsjs/react              {:mvn/version "18.3.1-1"}
                               cljsjs/react-dom          {:mvn/version "18.3.1-1"}
                               reagent/reagent           {:mvn/version "1.2.0"}}}
           
           :dev {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.18"}} 
                 :extra-paths ["dev" "test"]
                 :ns-default dev
                 :exec-fn initialize-fullstack-environment!} 
           
           :dev-calva {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.18"}} 
                       :extra-paths ["dev" "test"]} 
           
           :fig {:main-opts ["-m" "figwheel.main"]}
           
           :build {:replace-deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
                   :ns-default build
                   :extra-paths ["."]}
           
           :test {:extra-deps {org.clojure/test.check {:mvn/version "0.9.0"}}
                  :extra-paths ["test"]
                  :ns-default test
                  :exec-fn run-all-tests}} 
 :paths   ["src" "resources" "target" "src/view"]}
