{:deps {org.clojure/clojurescript {:mvn/version "1.11.54"}
        org.clojure/clojure {:mvn/version "1.12.0"}
        com.bhauman/figwheel-main {:mvn/version "0.2.18"}
        http-kit/http-kit {:mvn/version "2.9.0-alpha1"}}}